@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&family=Tajawal:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0;
}

body {
  font-family: 'Cairo', sans-serif;
  left: 0;
  width: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}